<h2>Welcome <%= @user.name %>, signed in successful</h2>

<div class="past-events">
  <h3>Past Events</h3>
  <ul>
    <% @past_events.each do |event|%>      
      <li><%= event.name %></li>      
    <% end %>
  </ul>
</div>

<div class="future_event">
  <h3>Future Events</h3>
  <ul>
    <% @future_events.each do |event|%>      
      <li><%= event.name %></li>      
    <% end %>
  </ul>
</div>